<div class="bg-white border" *ngIf="(foto$ | async) as foto">
	<div class="row">
		<div class="col-lg-8">
			<ap-foto [url]="foto.url" [descricao]="foto.description"></ap-foto>
		</div>

		<div class="col-lg-4 p-4">
			<div>
				<p class="text-left break-word">{{ foto.description }}</p>
				
				<div class="text-left break-word">
					<span mostrarSeLogado style="font-size: 1.3em;"><i (click)="curtir(foto)" style="font-size: 1.3em;" class="fa fa-heart-o mr-2 pull-left"></i> {{ foto.likes }}</span>
					<span style="font-size: 1.3em;" class="ml-3"><i style="font-size: 1.3em;" class="fa fa-comment-o mr-1"></i> {{ foto.comments }}</span>
					<i fotoDonoApenas [foto]="foto" (click)="remover()" class="fa fa-trash-o fa-2x pull-right"></i>
				</div>

				<hr/>
			</div>

			<ap-foto-comentarios *ngIf="foto.allowComments; else warning" [fotoId]="fotoId"></ap-foto-comentarios>
			<ng-template #warning>
				<p style="color: red;">Usuário desabilitou comentários para essa foto.</p>
			</ng-template>
		</div>
	</div>
</div>