<div class="text-center" style="color: red">
	<!-- <h2>Essa página não está disponível</h2>
	<p>
		O link que você acessou pode estar quebrado ou
		a página pode ter sido removida.
	</p> -->
	<h2>
		Oopsie woopsie, uwu we did a fucky wucky! A wittle fucko boingo!
		The code monkeys at our headquarters are working vewy hawd to fix this... (´;ω; `)
	</h2>
	<hr>
	<p>
		Meanwhile, you can check (* ﾉ・∀・*)ﾉ <em>'console-chan'</em> ╰(*・∀・╰ *) by pwessing F12 on youw keyboawd to see the ewwows
	</p>
</div>
